@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root{
    --bg-black-900:#f2f2fc; 
    --bg-black-100:#fdf9ff; 
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;

}



body{

    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

* {
    margin:0;
    padding:0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}



::before, ::after{
    box-sizing: border-box;
}


ul{
    list-style:none;
}


section{
    /* background-image: url(images/mountain.jpg); */

    /* background: var(--bg-black-900); */
    /* background-size: cover;
    background-position: center; */
    /* min-height: 100vh; */
    display: block;
    position: fixed;
    /* left: 270px; */
    left:20%;
    padding: 0 30px;
    top:0;
    right:0;
    z-index: 0;
    opacity: 1;

}

.proj-bg-img{
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
    width: 100%;
    height: 100vh;
    display: inline;
    position: fixed;
    left: 270px;
    padding: 0 0px;
    top:0;
    right:0;
    z-index: -1;
    opacity: 0.89;
}



.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.container{
    max-width: 1100px;
    width: 100%;
    
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}




/* side-bar */
.side-bar{
    /* width: 270px; */
    width: 20%;
    background: var(--bg-black-100);
    position: fixed;
    left:0;
    top:0;
    z-index: 10;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.side-bar .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;

}


.side-bar .logo a{
    color: var(--text-black-900);
    font-weight: 900;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;

}

.side-bar .logo a span{
    font-family: 'Clicker script', cursive;
    font-family: 40px;
    margin-left: 30px;
}


.side-bar .logo ::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid orange;
    border-left: 5px solid orange;
    bottom: 0;
    left: 25px;
}

.side-bar .logo ::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid orange;
    border-right: 5px solid orange;
    top: 0;
    right: 4px;
}



.side-bar .nav li{
    margin-bottom: 70px;
    display: block;
}

.side-bar .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.proj{
    font-size: 40px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.side-bar .nav li a.active{
    color: orange;
}

.side-bar .nav li a i{
    margin-right: 15px;
}


.photo{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    /* margin: auto; */
    margin-left: 65px;
    border-radius: 50%;
}


/* home */


.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-100);
}

h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(232, 155, 13);
}

h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}

.typing{
    color: orange;
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: rgb(22, 21, 19);
    font-family: 'Dancing Script', cursive;
    text-align: justify;
    font-size: 22px;
}

.home .home-info{
    flex: 0, 0 , 60%;
    max-width: 60%;

}

.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid orange;
    border-right: 10px solid orange;
    right: 20px;
    bottom: -40px;
}
.home .home-img img{
    height: 400px;
}

.home-info{
    opacity: 1;
    z-index: 5;
    color: black;
}

